PORT=5000
MONGO_URI=mongodb://krishnagojo1316_db_user:BjzcSLKQplyEHmwz@ac-wnxrxje-shard-00-00.8gjm5l5.mongodb.net:27017,ac-wnxrxje-shard-00-01.8gjm5l5.mongodb.net:27017,ac-wnxrxje-shard-00-02.8gjm5l5.mongodb.net:27017/?ssl=true&replicaSet=atlas-lsi7y9-shard-0&authSource=admin&appName=Testing7
JWT_SECRET=4fb2ed71c5e80a53c1c5a129ffb72c2149a5e308142a7bcc0cd9e1b1c4bc6223
ADMIN_EMAIL=prasadprasad72503@gmail.com
ADMIN_PASSWORD=Krishna@1316
NODE_ENV=development
